@media only screen and (max-width: 768px) {
  .slideLeft {
    position: absolute;
    left: 1em;
  }
  
  .slideRight {
    position: absolute;
    right: 1em;    
  }

  .card {
    width: 100%;
    min-height: 500px;
  }

  .editSettings {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .card {
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 500px;
    margin: 0 auto;
    width: 30rem;
  }

  .boxWrapper {
    margin: 0 auto;
    width: 30rem;
    padding-top: 100px;
  }

  .slideLeft {
    left: -100px;
    top: 300px;
  }
  
  .slideRight {
    right: -100px;
    top: 300px
  }

  .slideButton {
    position: absolute;
  }
}

.boxWrapper {
  position: relative;
}

.App {
  text-align: center;
}

.menuWrapper {
  border: 1px solid;
  position: absolute;
  top: 4.7em;
  right: -11em;
  width: 10em;
}

.menuWrapper ul li, .menuWrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuWrapper ul li {
  padding: 0.5em;
  border-bottom: 1px solid;
}
.menuWrapper ul li:last-child {
  border-bottom: none;
}


.addTaskBtn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.editTask {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  color: black;
  font-size: 16px;
  height: 30px;
}

.editSettings {
  position: absolute;
  right: 0;
  top: 2.2em;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.slideButton {
  border-radius: 40px;
  width: 80px;
  height: 80px;  
  font-size: 50px;
  padding: 3px 0 0 0;
}

.removeTask {

  right: 70px;
}


.card-body .card-title {
  padding: 20px;
  margin: 20px;
  font-size: 40px;
  font-weight: bold;
  /*
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  */
}

.card-body .input-group {
  position: relative;
}

.card-body .input-group button {
  position: absolute;
}

.checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.8em;
  margin-right: 0.5em;
  border: 0.15em solid #000;
  outline: none;
  cursor: pointer;
  margin-bottom: -5px;
}

input.checked {
  position: relative;
  
}

input.checked::before {
  font-size: 2.2em;
  color: #000;
  position: absolute;
  right: -1px;
  top: -8px;
  content: "X";
  font-weight: lighter;
}

.checkbox-wrapper {
  margin-bottom: 20px;
}

.checkbox-wrapper label {
  border-bottom: 1px solid #000;
  padding: 0 0 8px 0;
}

.checkbox-wrapper input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkbox-wrapper input[type="checkbox"]:disabled + span {
  color: #c0c0c0;
}

.singleTaskText {
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
  font-size: 1rem;
  color: #000
}

.input-group {
  margin: 0 0 10px 0;
}

.card-body {
  padding: 0 0 50px 0;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
}

.menuWrapper {
  cursor: pointer;
}